body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: 'Montserrat', sans-serif;
}

:root{
  /* PALETA PRINCIPAL */
  /* --color-primary: #2f3d58; */
  --color-primary: #4d5385b0 ;
  --color-secondary: #9B4691;

  --color-third: #CF3278;
  --color-fourth: #EE314A;

  /* BLANCOS */
  --color-white1 : #ebebeb;
  --color-white2 : #f8f8f8;

  /* GRISES */
  --color-gray0: #dddddd;
  --color-gray1: #959496;
  --color-gray11: #f5abab;
  --color-gray2: #636363;
  --color-gray3: #424242;





}


input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}