body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
--color-primary: #FFFFFF;
--color-secondary: #FFFFFF;

  /* BLANCOS */
  --color-white1 : #E6E6E6;
  --color-white2 : #eeeeee;

  /* GRISES */
  --color-gray1: #959496;
  --color-gray11: #f5abab;
  --color-gray2: #636363;
  --color-gray3: #424242;





}