.homepageContainer{
    height: 100vh;
    min-width: 100%;
    width: 100%;
    background-color: var(--bg-myWhite);

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(123,226,245);
    /* GRADIENTE */
    background: linear-gradient(318deg, rgba(123,226,245,1) 0%,
        rgba(123,226,245,1) 37%,
        rgba(99,158,185,1) 100%);
    /* position: relative; */
    box-sizing: border-box;
    /* border: 1px solid blue; */
    position: relative;
}

.backGroundImages{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* border: 2px solid red; */
    overflow: hidden;
}

.bgBones{
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}

.bgDogModel{
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 50%;
    /* border: 1px solid blue; */
}

/* LOGO TEXTO Y BOTÓN */
.infoContainer{
    font-family: 'Mochiy Pop One', sans-serif;
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    /* border: 1px solid red; */
    height: 400px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-black1);
}

.logoSvg{
    width: 300px;
    
}

.goButton{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 23px;
    height: 50px;
    width: 200px;
    border: 0;
    border-radius: 5px;
    background-color: var(--color-fourth);
    color: white;

    box-shadow: -3px 5px 10px 0px rgba(44, 44, 44, 0.3);
}.goButton:hover{
    position: relative;
    left: -2px;
    top: 2px;
    cursor: pointer;
}