.header{
    /* TAMÑO */
    padding: 15px;
    width: 100%;
    /* min-height: 10vh; */
    max-height: 150px;
    
    box-sizing: border-box;
    /* background-color: var(--bg-nav); */
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    position: sticky;
    z-index: 2;    
    top: 0px;

    /* box-shadow: 0 0px 17px 0 rgba(34, 34, 34, 0.267); */
    /* backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px ); */
    border-radius: 0px 0px 0px 0px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

    background: rgba( 235, 235, 235, 0.95 );
    box-shadow: 0 3px 5px 0 rgba(43, 43, 43, 0.212);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    

}

.link{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-gray1);
    /* margin: 0 0.7rem; */
}

.activeLink{
    composes: link;
    color: rgb(59, 56, 85);    
}

.link:hover , .activeLink:hover{
    color: rgb(0, 0, 0);
}

.navContainer{    
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.navContainer > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navContainer > ul > li {
    /* border: 1px solid var(--squash2); */
    /* background-color: #BDDEC2; */
    margin: 0px 10px;
    padding: 5px 8px;

    box-sizing: content-box;
    /* border: 1px solid var(--bg-myWhite); */

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* border: 1px solid blue; */
}

.liContainer{
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: linear;
}


.searchInputContainer{
    /* border: 1px solid red; */
    position: relative;
}

.searchInputContainer > input{
    border: 0px solid blue;
    height: 30px;
    width: 170px;
    border-radius: 90px;
    padding-left: 35px;
    font-size: 15px;

}
.searchInputContainer > img{
    position: absolute;
    left: 16px;
}